body{
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   
}
.head{
  margin-top: 50px;
  margin-bottom: 30px;
}





/* Main marketing message and sign up button */


 

  
